name: Carbon Resend Adapter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: "*"

jobs:
  specs:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        crystal_version: [latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal_version }}

      - name: Install dependencies
        run: shards install --skip-postinstall --skip-executables

      - name: Check format
        run: crystal tool format --check

      - name: Run specs
        run: crystal spec
